* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-sign-up {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: rgb(253, 253, 253);
}
.login-sign-up .logo-name {
  position: absolute;
  width: 256px;
  height: 80px;
  left: 352px;
  top: 30px;
}
.login-sign-up .logo {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  top: 0;
  background: rgb(217, 217, 217);
  border-radius: 50%;
}
.login-sign-up .name {
  position: absolute;
  width: 156px;
  height: 46px;
  right: 0;
  top: 17px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.login-sign-up-form {
  position: absolute;
  width: 473px;
  height: auto;
  left: 724px;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 40px 40px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 23, 49);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.copy-right {
  position: absolute;
  width: 397px;
  height: 22px;
  right: 20px;
  bottom: 30px;
  color: rgb(160, 183, 209);
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
}
.login-icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
}
